<table>
    <tr>
        <th>
            company
        </th>
        <td>
            amazon
        </td>
    </tr>
    <tr>
        <th>
            customer id
        </th>
        <td>
            1001
        </td>
    </tr>
    <tr>
        <th>
            status
        </th>
        <td>
            processing
        </td>
    </tr>
</table>