<table>
    <tr>
        <th>
            company
        </th>
        <td>
            amazon
        </td>
        <td>
            flipkart
        </td>
    </tr>
    <tr>
        <th>
            customer id
        </th>
        <td>
               1001
        </td>
        <td>
            1002
        </td>
    </tr>
    <tr>
        <th>
            status
        </th>
        <td>
            processing
        </td>
        <td>
            shipping 
        </td>
    </tr>
</table>