<table>

    <th>
        <tr>
              company
        </tr>
        <td>
              amazon
        </td>
        <td>
              1001
        </td>
        <td>
             processing
        </td>
    </th>

    <th>
        <tr>
            customer id
        </tr>
        <td>
             flipkart
        </td>
        <td>
               1002
        </td>
        <td>
               shipping
        </td>
    </th>

    <th>
        <tr>

           status
        </tr>
        <td>
              myntra 
        </td>
        <td>
              1003
        </td>
        <td>
                 pending
        </td>
    </th>

</table>