<table>

    <tr>
     <th>
         company 
     </th>
       <th>
           customer id 
       </th>
        <th>
            status 
        </th>
    </tr>

    <tr>
        <td>
            amzon 
        </td>
        <td>
            101
        </td>
        <td>
            shipping 
        </td>
    </tr>
    <tr>
        <td>
            flipkart
        </td>
        <td>
            102
        </td>
        <td>
            processing
        </td>
    </tr>
    <tr>
        <td>
            myntra
        </td>
        <td>
            103
        </td>
        <td>
            done
        </td>
    </tr>
</table>