<table>

    <th>
        <tr>
              company
        </tr>
        <td>
              amazon
        </td>
        <td>
              flipkart
        </td>
        <td>
              myntra
        </td>
    </th>

    <th>
        <tr>
            customer id
        </tr>
        <td>
               1001
        </td>
        <td>
               1002
        </td>
        <td>
               1003
        </td>
    </th>

    <th>
        <tr>

           status
        </tr>
        <td>
                 processing
        </td>
        <td>
                 shipping 
        </td>
        <td>
                 pending
        </td>
    </th>

</table>